<div class="user-id">211501</div>
        <div class="user-profile-image">
            <!-- <img src="" alt="" /> -->
            <div class="user-details">
                <div
                    class="user-name"
                    style="font-size: 1.8em; font-weight: bold"
                >
                    Jane Doe
                </div>
                <div class="user-department" style="font-size: 1.2em">
                    M.Tech CSE
                </div>
                <div class="user-year" style="margin-bottom: 30px">
                    2021-23
                </div>
            </div>
        </div>
        <div class="entry-time">
            <div>05:45 PM</div>
        </div>
    