    <button id="courier" class="box" routerLink="courier" (click)="getButtonName('courier')" style="background: #60b7ff; ">
        Courier/Parcel
    </button> 
    <button id="visitor" class="box" routerLink="visitor" (click)="getButtonName('visitor')" style="background: #10dcaf; margin-left:1em;">
        Visitor
    </button>
    <button id="outpass" class="box" routerLink="outpass" (click)="getButtonName('outpass')" style="background: #bbec39; margin-left:1em;">
        Outpass
    </button>
