    <div class="gif-interaction"  >
    <img src="../../../../assets/images/giphy.gif" alt=""  />
    <!-- <input
    class="js-kioskboard-input"
    data-kioskboard-type="keyboard"
    data-kioskboard-placement="bottom"
    data-kioskboard-specialcharacters="false"
    placeholder="Your Name" -->
<!-- /> -->
    </div>

    <!-- An example of an input element: The keyboard type is "keyboard", the placement is "bottom", and the availability of the special characters is "false". -->
    
    <!-- An example of an input element: The keyboard type is "numpad", and the placement is "bottom". (Special characters are not allowed for "numpad".) -->
    <!-- <input
        class="js-kioskboard-input"
        data-kioskboard-type="numpad"
        data-kioskboard-placement="bottom"
        placeholder="Your Number"
    /> -->
    <!-- <img src="" alt=""  /> -->
